body {
    background-color: cadetblue;
}

legend {
    font-size: 24px;
    color: red;
}

img {
    height: 500px;
    width: 500px;
    border-radius: 40px;
}


button {
    background: black;
    cursor: pointer;
    border: none;
    padding: 16px 32px;
    color: white;
    font-size: 24px;
    font-weight: bold;
    position: relative;
    border-radius: 12px;
}
